<div class="container">
  <h1>All Posts</h1>
  <p>User login stuff should work</p>
  <p>Should be able to make posts associated with user</p>
  <p>List of all posts here</p>
  <p>@DandyDanny's customized sinatra skeleton.</p>


</div>
