<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <!-- Mah face! -->
  <link rel="icon" href="/favicon128.png" sizes="128x128">
  <script src="/js/jquery-2.1.0.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Hackr Hues</title>
</head>
<body>

  <div class="nav">
    <div class="colors"></div>
    <h1>HACKr HUES</h1>

    <div class="user-section">


      <% if @user %>

      <div class="user-tool">
        <form id="logout-form" action="/logout" method="GET">
          <label><i class="fa fa-user"></i><%= @user.email %></label><button class="user-button"><i class="fa fa-lock"></i></button>
        </form>
      </div>

      <% else %>

      <div class="user-tool">
        <form id="login-form" action="/login" method="POST">
          <button class="user-button" id="create-user-button"><i class="fa fa-plus"></i></button>
          <label>Log in:</label>
          <input class="login-field" type="text" name="email" placeholder="Email">
          <input class="login-field" type="password" name="password" placeholder="Password">
          <button class="user-button" type="submit"><i class="fa fa-arrow-right"></i></button>
        </form>

        <form id="signup-form" action="/signup" method="POST">
          <button class="user-button" id="login-user-button"><i class="fa fa-key"></i></button>
          <label>Sign up:</label>
          <input class="login-field" type="text" name="email" placeholder="Email" autofocus>
          <input class="login-field" type="password" name="password" placeholder="Password">
          <input class="login-field" type="password" name="confirm-password" placeholder="Confirm Password">
          <button class="user-button" type="submit"><i class="fa fa-arrow-right"></i></button>
        </form>
      </div>

      <% end %>

    </div>

  </div>
  <%= yield %>
  <div class="footer">
    <p><a href="https://twitter.com/dandydanny">@DandyDanny</a> got his hands dirty with this one.</p>
  </div>
</body>
</html>
